$main-font: 'sofia-pro', sans-serif;

// colors
$color-black: #303030;
$light-grey: #E5E5E5;
$second-grey: #4A4A4A;
$placeholder-grey: #989898;
$main-color: #DD2C54;
$white: #FFF;
$active-blue: #3F87F5;